.Item {
  h4 {
    font-size: 18px;
    line-height: 18px;
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      transition: transform .3s;
      width: 100%;
      height: 100%;
    }

    &:hover img {
      transform: scale(1.3);
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .4s;
    background: #F26522;
    padding: 8px 16px 12px;

    .text {
      font-size: 10px;
      line-height: 10px;
    }

    .price {
      margin-top: 10px;
      font-size: 20px;
      line-height: 20px;

      &:before {
        content: attr(data-currency);
      }
    }

    a {
      font-size: 14px;
      line-height: 14px;
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;

      svg {
        margin-left: 10px;
      }
    }
  }

  &:hover {
    .details {
      opacity: 1;
    }

    h4 {
      color: #F26522;
    }
  }
}