.Logo {
  color: white;
  text-decoration: none;

  i {
    content: "";
    width: 53px;
    height: 47px;
    display: inline-block;
    background-position: right;
  }

  &:hover {
    color: #F26522;

    i {
      background-position: left;
    }
  }

  span {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    &:first-of-type {
      font-size: 29px;
      line-height: 29px;
    }
  }
}